{% extends "page.html" %}

{% block content %}

<h1>Пользователи</h1>



{% verbatim %}
<script type="text/x-tmpl" id="table-data">
<table>
    <thead>
        <tr>
            {% for (var i=0; i<o.fields.length; i++) { %}
                <th>{%=o.fields[i][1]%}</th>
            {% } %}
        </tr>
    </thead>
    <tbody>
        {% for (var i=0; i<o.object_list.length; i++) { %}
            <tr>
                {% for (var j=0; j<o.object_list[i].length; j++) { %}
                <td>{%=o.object_list[i][j]%}</td>
                {% } %}
            </tr>
        {% } %}
    </tbody>
</table>
</script>
{% endverbatim %}

<form method="POST" action=".">
{% csrf_token %}
{{ form.as_p }}
<input type="submit">
</form>
{% endblock %}